<aside class="aside menu">
  <div>
    <label class="aside_toggle toggle" title='{{ T "docs_menu" }}' role="button">{{ T "docs_menu" }} {{ partial "sprite" (dict "icon" "carly") }}</label>
  </div>
  {{- template "tree" (dict "page" . "section" .FirstSection)  }}
  {{- define "tree" }}
  {{- $section := .section }}
  {{- $page := .page }}
  {{- $permalink := $page.RelPermalink }}
  <section class="section aside_inner">
    <h2 class="section_title{{ if eq $section.RelPermalink $permalink }} active{{ end }}"><a  href="{{ $section.Permalink }}" class="group">{{ $section.Title }}</a></h2>
      {{- $pages := $section.Pages }}
      {{- with $pages }}
      <section class="" id="docs-{{ anchorize $section.Title }}">
        {{- range . }}
        {{- if .IsPage }}
        <h3 class="section_link{{ if eq .RelPermalink $permalink }} active{{ end }}"><a id="docs-{{ anchorize .Title }}" href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{- if ne (print .TableOfContents) ""}}
          {{- .TableOfContents }}
        {{- end }}
        {{- else }}
        {{- template "tree" (dict "page" $page "section" .) }}
        {{- end }}
        {{- end }}
      </section>
      {{- end }}
  </section>
  <a href="https://discord.gg/lemmyworld"><img alt="Discord" src="https://img.shields.io/discord/1120387349864534107?style=flat-square&logo=discord&color=565EAE"></a>

  <a href="https://matrix.to/#/#general:lemmy.world"><img alt="Matrix" src="https://img.shields.io/matrix/lemmy.world_general%3Amatrix.org?style=flat-square&logo=matrix&color=blue"></a>
</br>
  <a href="https://lemmy.world/c/support"><img alt="Support" src="https://img.shields.io/lemmy/support%40lemmy.world?style=flat-square&logo=lemmy&label=support%40lemmy.world&color=pink"></a>

  <a href="mailto:info@lemmy.world"><img alt="Email" src="https://img.shields.io/badge/email-info%40lemmy.world-green?style=flat-square&logo=mailgun&color=blue"></a>

  {{- end }}
</aside>
